<h1><center>New Project</center></h1>

<%= render 'form', project: @project %>

<div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">
<%= link_to 'Back', projects_path,:class=>"btn btn-info" %>
</div>
</div>