<h1><center>New Category</center></h1>

<%= render 'form', category: @category %>

<div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">

<%= link_to 'Back', categories_path,:class=>"btn btn-info" %>
</div>
</div>